.new-debt {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-debt button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 3rem;
  border: 1px solid #3d5a80;
  background-color: #3d5a80;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-debt button:hover,
.new-debt button:active {
  background-color: #2d4361;
  border-color: #2d4361;
}

.new-debt button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-debt button.alternative:hover,
.new-debt button.alternative:active {
  background-color: #ddb3f8;
}
